<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Product info</h5>


        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">


        <form>
          <div class="form-row">

            <div class="form-group col-md-6">
              <label for="name">Name</label>
              <input type="text" class="form-control font-open-sans text-primary" id="name"
                aria-describedby="nameOfProduct" placeholder="Product name" name="name" value="<%= product.name %>">
              <small id="nameOfProduct" class="form-text text-muted">Keep the name descriptive.</small>
            </div>

            <div class="form-group col-md-6">
              <label for="price">Price</label>
              <div class="input-group">
                <input type="text" class="form-control font-open-sans text-primary" id="price"
                  placeholder="Product Price" name="price" value="<%= product.price %>">
                <div class="input-group-append">
                  <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-primary <%= product.currency === "USD" ? 'active' : '' %>"
                      style="cursor: pointer;">
                      <input type="radio" name="currency" id="USD" autocomplete="off" value="USD"
                        <%- product.currency === "USD" ? 'checked' : '' %>> $
                    </label>
                    <label class="btn btn-primary <%= product.currency === "IQD" ? 'active' : '' %>"
                      style="cursor: pointer;">
                      <input type="radio" name="currency" id="IQD" autocomplete="off" value="IQD"
                        <%- product.currency === "IQD" ? 'checked' : '' %>> IQD
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="description">Description</label>
            <textarea class="form-control font-open-sans text-primary" id="description"
              placeholder="Describe the product" rows="3" name="description"><%= product.description %></textarea>
          </div>

          <div class="form-row">

            <div class="form-group col-md-4">
              <label for="city">Town / City</label>
              <input type="text" class="form-control font-open-sans text-primary" id="city" placeholder="Your location"
                name="city" value="<%= product.city %>">
            </div>

            <div class="form-group col-md-4">
              <label for="phonenumber">Phone number</label>
              <input type="text" class="form-control font-open-sans text-primary" id="phonenumber"
                placeholder="Your phone number" name="phoneNumber" value="<%= product.phoneNumber %>">
            </div>

            <div class="form-group col-md-4">
              <label for="category">Category</label>
              <select id="category" class="form-control font-open-sans text-primary" name="category"
                style="cursor: pointer;">
                <option value="" disabled hidden>Choose a category</option>
                <option value="clothes" <%- product.category === "clothes" ? 'selected' : '' %>>clothes</option>
                <option value="furniture" <%- product.category === "furniture" ? 'selected' : '' %>>furniture</option>
                <option value="computer" <%- product.category === "computer" ? 'selected' : '' %>>computer</option>
                <option value="mobile device" <%- product.category === "mobile device" ? 'selected' : '' %>>mobile
                  device</option>
              </select>
            </div>
          </div>

          <div class="form-group">
            <label>Condition</label>
            <div class="form-check font-open-sans">
              <input class="form-check-input" type="radio" name="condition" id="new-with-tags" value="new with tags"
                <%- product.condition === "new with tags" ? 'checked' : '' %>>
              <label class="form-check-label" for="new-with-tags" style="cursor: pointer;">
                new with tags
              </label>
            </div>
            <div class="form-check font-open-sans">
              <input class="form-check-input" type="radio" name="condition" id="like-new" value="like-new"
                <%- product.condition === "like-new" ? 'checked' : '' %>>
              <label class="form-check-label" for="like-new" style="cursor: pointer;">
                like-new
              </label>
            </div>
            <div class="form-check font-open-sans">
              <input class="form-check-input" type="radio" name="condition" id="gently-used" value="gently-used"
                <%- product.condition === "gently-used" ? 'checked' : '' %>>
              <label class="form-check-label" for="gently-used" style="cursor: pointer;">
                gently-used
              </label>
            </div>
            <div class="form-check font-open-sans">
              <input class="form-check-input" type="radio" name="condition" id="signs-of-use" value="signs of use"
                <%- product.condition === "signs of use" ? 'checked' : '' %>>
              <label class="form-check-label" for="signs-of-use" style="cursor: pointer;">
                signs of use
              </label>
            </div>
          </div>

          <!-- <div class="form-group">
            <label for="image">Upload Image</label>
            <input type="file" class="form-control-file font-open-sans" id="image" name="image" accept="image/*">
          </div> -->

      </div>


      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button onclick="editProduct(this.id)" id="<%= product.productId %>" type="submit"
          class="btn btn-primary font-poppins">Edit Product</button>
      </div>

      </form>

    </div>
  </div>
</div>