<!DOCTYPE html>
<html>

<%- include('head'); %>

<body>
  <div class="d-flex justify-content-between align-items-start">
    <div>
      <h1><%= title %></h1>

      <% if (!user) { %>
      <p>Please <a class="btn btn-info btn-sm" href="/signup" role="button">Sign Up</a></p>
      <p>If you already have an account <a class="btn btn-info btn-sm" href="/login" role="button">Login</a></p>
      <% } %>
    </div>
    <% if (user) { %>
    <div class="d-flex flex-column justify-content-start align-items-end">
      <h4><span class="badge badge-light"><%= user.username %></span></h4>
      <a href="/product/create"><button type="button" class="btn btn-primary">Sell your products</button></a>
      <a href="/logout"><button type="button" class="btn btn-dark mt-2 btn-sm">Log Out</button></a>
    </div>
    <% } %>
  </div>



  <div class="d-flex flex-wrap container">
    <% products.forEach(function(product){ %>
    <%- include('product', {product: product}); %>
    <% }); %>
  </div>


  <%- include('scripts', {page: 'index'}); %>

</body>

</html>