<!DOCTYPE html>
<html>

<%- include('head'); %>

<body>
  <%- include('navbar', { user: user }); %>
  <%- include('top-filters'); %>


  <div class="d-flex mx-5 mt-5 justify-content-between">

    <%- include('side-filters'); %>

    <div class="d-flex justify-content-center flex-wrap">
      <% products.forEach(function(product){ %>
      <%- include('product-card', {product: product}); %>
      <% }); %>
    </div>
  </div>

  <!-- 
  <div class="container ">
    <div class="row ">

      <div class="col-3">
        
      </div>

      

    </div>
  </div> -->

  <%- include('scripts', {page: 'index'}); %>

</body>

</html>