<!DOCTYPE html>
<html>

<%- include('head'); %>

<body>
  <%- include('navbar', { user: user }); %>
  <%- include('top-filters'); %>


  <div class="row mt-5 px-sm-5 px-4 w-100 m-0">

    <div class="col-md-3 col-12">
      <%- include('side-filters'); %>
    </div>

    <div class="col-md-9 col-12 d-flex flex-column align-items-center mb-5">

      <div class="row row-cols-1 row-cols-md-3" style="flex: 0 0 auto;">
        <% products.forEach(function(product){ %>
        <div class="col d-flex justify-content-center mb-4 p-0">
          <%- include('product-card', {product: product}); %>
        </div>
        <% }); %>
      </div>

      <nav aria-label="Products pages">
        <ul class="pagination mb-5 mt-4 border border-secondary" id="pagination-list"></ul>
      </nav>

    </div>
  </div>

  <%- include('scripts', {page: 'index'}); %>
  <%- include('pagination-script', {numOfPages: numOfPages}); %>

</body>

</html>