<div class="card h-100" style="width: 19rem;">
  <div class="card-body font-poppins">

    <img src="/<%= product.image %>" class="card-img-top" style="height: 13rem; object-fit: cover;" alt="product">

    <h6 class="card-title mt-3"><%= product.name %></h6>
    <p class="card-subtitle mb-2 text-muted font-open-sans"><%= product.description %></p>

    <div class="d-flex align-items-end justify-content-between">
      <div class="d-flex flex-column">
        <h5><%= format(product.price, product.currency) %></h5>
        <p class="card-subtitle mb-2 text-muted"><%= product.condition %></p>
      </div>

      <a href="/products/<%= product.product_id %>" class="btn btn-primary" role="button">Product
        Detail</a>

    </div>

  </div>
</div>

<% function format(price, currencyCode){
  const formatter = new Intl.NumberFormat('en-US', {
  style: 'currency',
  currency: currencyCode === 'USD' ? 'USD' : 'IQD',
})

return formatter.format(price)
} %>