<!DOCTYPE html>
<html>

<%- include('head'); %>

<body>
  <%- include('navbar', { user: user }); %>

  <div class="d-flex flex-wrap mt-5 justify-content-between font-poppins" style="width:100vw">
    <div class="d-flex justify-content-center px-5" style="flex: 1 0 50%;">
      <img src="/<%= product.image %>" class="img-fluid" style="object-fit: cover; height: 30rem;" alt="product">
    </div>
    <div class="d-flex flex-column px-5" style="flex: 1 0 auto;">
      <h2><%= product.name.charAt(0).toUpperCase() + product.name.slice(1) %></h2>
      <h5 class="my-4">Description</h5>
      <p class="font-open-sans"><%= product.description %></p>

      <h5 class="my-4">Info</h5>

      <div class="w-100 d-flex flex-wrap font-open-sans">

        <div class="w-50 px-4 d-flex flex-column">

          <% Object.entries(product).forEach(detail => { %>
          <% if (['owner_phoneNumber', 'category', 'user_id'].includes(detail[0])) { %>
          <div class="w-100 d-flex flex-wrap justify-content-between my-1">
            <h6 class="text-primary"><%= detail[0] %></h6>
            <p><%= detail[1] %></p>
          </div>
          <% } %>
          <% }) %>

        </div>

        <div class="w-50 px-4 d-flex flex-column">

          <% Object.entries(product).forEach(detail => { %>
          <% if (['condition','city', 'date_added'].includes(detail[0])) { %>
          <div class="w-100 d-flex flex-wrap justify-content-between my-1">
            <h6 class="text-primary"><%= detail[0] %></h6>
            <p><%= detail[1] %></p>
          </div>
          <% } %>
          <% }) %>

        </div>

      </div>

      <div class="card my-4">
        <div class="card-body">
          <h3 class="card-title"><%= format(product.price, product.currency) %></h3>
          <h6 class="card-subtitle mb-2 text-muted">price</h6>
        </div>
      </div>

    </div>
  </div>

  <% function format(price, currencyCode){
    const formatter = new Intl.NumberFormat('en-US', {
    style: 'currency',
    currency: currencyCode === 'USD' ? 'USD' : 'IQD',
  })
  
  return formatter.format(price)
  } %>

  <%- include('scripts', {page: 'product-detail'}); %>

</body>

</html>