<!DOCTYPE html>
<html>

<%- include('head'); %>

<body>
  <%- include('navbar', { user: user }); %>

  <div class="row w-100 justify-content-center m-0 my-5">
    <div class="col-lg-7 col-md-8 col-sm-10 col-11 d-flex flex-column jumbotron px-sm-5 px-4">
      <h2><%= product.name.charAt(0).toUpperCase() + product.name.slice(1) %></h2>
      <h5 class="my-4">Description</h5>
      <p class="font-open-sans"><%= product.description %></p>

      <div class="d-flex justify-content-center align-items-center my-4 w-100 px-xl-5">
        <img src="/<%= product.image %>" class="img-fluid rounded" style="object-fit: cover;" alt="product">
      </div>

      <h5>Info</h5>

      <div class="bg-white rounded my-3 p-sm-5 p-4">
        <div class="d-flex flex-sm-row flex-column mt-1">
          <h6 class="text-primary">City:</h6>
          <p class="font-open-sans ml-sm-2"><%= product.city %></p>
        </div>
        <div class="d-flex flex-sm-row flex-column mt-1">
          <h6 class="text-primary">Condition:</h6>
          <p class="font-open-sans ml-sm-2"><%= product.condition %></p>
        </div>
        <div class="d-flex flex-sm-row flex-column mt-1">
          <h6 class="text-primary">Owner’s Phone Number:</h6>
          <p class="font-open-sans ml-sm-2"><%= product.phoneNumber %></p>
        </div>
        <div class="d-flex flex-sm-row flex-column mt-1">
          <h6 class="text-primary">Category:</h6>
          <p class="font-open-sans ml-sm-2"><%= product.category %></p>
        </div>
        <div class="d-flex flex-sm-row flex-column mt-1">
          <h6 class="text-primary">Date Posted:</h6>
          <p class="font-open-sans ml-sm-2"><%= new Date(product.createdAt).toDateString() %></p>
        </div>

        <a class="text-reset text-decoration-none mt-1" href="/users/<%= product.User.userId %>">
          <div class="w-100 d-flex flex-column">
            <h6 class="text-primary">Posted By:</h6>
            <img src="/<%= product.User.userImage %>" class="img-fluid rounded my-1"
              style="height: 4rem; width: 4rem; object-fit: cover;" alt="user">
            <p><%= product.User.username %></p>
          </div>
        </a>

      </div>

      <div class="card mt-4">
        <div class="card-body">
          <h3 class="card-title"><%= format(product.price, product.currency) %></h3>
          <h6 class="card-subtitle mb-2 text-muted">price</h6>
        </div>
      </div>

    </div>

  </div>



  <% function format(price, currencyCode){
    const formatter = new Intl.NumberFormat('en-US', {
    style: 'currency',
    currency: currencyCode === 'USD' ? 'USD' : 'IQD',
  })
  
  return formatter.format(price)
  } %>

  <%- include('scripts', {page: 'product-detail'}); %>

</body>

</html>