<div class="row mb-lg-0 mb-5 bg-info p-3 py-4 rounded">


  <div class="col-md-12 col-sm-6 col-12 d-flex flex-column">
    <form method="GET" action="/search" class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search Products" aria-label="Search" name="q"
        id="searchInput" required>
      <button class="btn btn-outline-primary font-poppins my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>


  <div class="col-md-12 col-sm-6 col-12 d-flex flex-wrap my-md-4 my-sm-0 my-4 align-items-center"
    id="applied-filters-container">
    <h6 class="m-0 text-primary">Applied filtres:</h6>
  </div>


  <div class="col-md-12 col-sm-6 col-12 d-flex flex-column my-md-4 my-sm-0 my-4">
    <h5 class="font-poppins m-0">Categories</h5>
    <div class="d-flex flex-column font-open-sans">
      <div class="d-flex align-items-center mt-2">
        <p onclick="filterByCategory(this.id)" id="clothes" class="m-0 filters">
          Clothes
        </p>
        <span class="badge badge-light font-poppins ml-2"><%= count.clothes ? count.clothes : '0' %> </span>
      </div>

      <div class="d-flex align-items-center mt-2">
        <p onclick="filterByCategory(this.id)" id="computer" class="m-0 filters">
          Computers
        </p>
        <span class="badge badge-light font-poppins ml-2"><%= count.computer ? count.computer : '0' %> </span>
      </div>

      <div class="d-flex align-items-center mt-2">
        <p onclick="filterByCategory(this.id)" id="furniture" class="m-0 filters">
          Furniture
        </p>
        <span class="badge badge-light font-poppins ml-2"><%= count.furniture ? count.furniture : '0' %> </span>
      </div>

      <div class="d-flex align-items-center mt-2">
        <p onclick="filterByCategory(this.id)" id="mobile-device" class="m-0 filters">Mobile
          Phones
        </p>
        <span class="badge badge-light font-poppins ml-2"><%= count['mobile device'] ? count['mobile device'] : '0' %>
        </span>
      </div>

    </div>
  </div>


  <div class="col-md-12 col-sm-6 col-12 d-flex flex-column mt-md-4 mt-sm-0 mt-4">
    <h5 class="font-poppins m-0">Condition</h5>

    <form id="conditionForm" class="d-flex flex-column font-open-sans">

      <div class="custom-control custom-checkbox mt-2">
        <input type="checkbox" class="custom-control-input" id="like-new" name="condition" value="like-new">
        <label class="custom-control-label filters" for="like-new">Like-new</label>
      </div>

      <div class="custom-control custom-checkbox mt-2">
        <input type="checkbox" class="custom-control-input" id="new-with-tags" name="condition" value="new with tags">
        <label class="custom-control-label filters" for="new-with-tags">New with tags</label>
      </div>

      <div class="custom-control custom-checkbox mt-2">
        <input type="checkbox" class="custom-control-input" id="gently-used" name="condition" value="gently-used">
        <label class="custom-control-label filters" for="gently-used">Gently-used</label>
      </div>

      <div class="custom-control custom-checkbox mt-2">
        <input type="checkbox" class="custom-control-input" id="signs-of-use" name="condition" value="signs of use">
        <label class="custom-control-label filters" for="signs-of-use">Signs of use</label>
      </div>

      <div class="d-flex mt-4 font-poppins">
        <input class="btn btn-primary" type="submit" value="Apply">
        <input class="btn btn-secondary ml-3" type="reset" value="Reset">
      </div>

    </form>

  </div>
</div>

<%- include('scripts', { page: 'side-filters' }); %>