<!DOCTYPE html>
<html>

<%- include('head'); %>

<body>
  <%- include('navbar', { user: currentUser }); %>

  <div class="w-100 row mt-5 m-0 align-items-xl-start px-sm-5 px-3 justify-content-xl-between">
    <div
      class="col-xl-3 col-12 d-flex flex-column align-items-start py-5 px-sm-5 px-4 ml-xl-5 font-poppins bg-info rounded">

      <% if (currentUser && user.userId === currentUser.userId) { %>
      <h3>Your Account</h3>
      <% } else { %>
      <h3><%= user.username.charAt(0).toUpperCase() + user.username.slice(1) %>'s Account</h3>
      <% } %>

      <img src="/<%= user.image %>" class="img-fluid rounded my-4"
        style="height: 13rem; width: 13rem; object-fit: cover;" alt="user">

      <div class="my-1 font-open-sans">
        <h6 class="text-primary">Email Address:</h6>
        <p><%= user.email %></p>
      </div>

      <% if (currentUser && user.userId === currentUser.userId) { %>
      <div class="d-flex flex-xl-column flex-sm-row flex-column align-items-start">
        <a href="/product/" class="btn btn-primary btn-sm font-poppins" role="button">Post A Product</a>

        <span class="btn btn-secondary btn-sm font-poppins ml-xl-0 ml-sm-3 mt-xl-2 mt-sm-0 mt-2 btn-file">
          Change Image <input onchange="changeImage(this)" id="<%= user.userId %>" type="file" name="image"
            accept="image/*">
        </span>

        <!-- <a href="#" class="btn btn-secondary btn-sm font-poppins ml-xl-0 ml-sm-3 my-xl-2 my-sm-0 my-2"
          role="button">Edit
          Info</a> -->
      </div>
      <% } %>

    </div>
    <div class="col-xl-8 col-12 d-flex flex-column align-items-xl-start align-items-center font-poppins">
      <% if (currentUser && user.userId === currentUser.userId) { %>
      <h4 class="mt-xl-0 mt-5">Your products</h4>
      <% } else { %>
      <h4><%= user.username.charAt(0).toUpperCase() + user.username.slice(1) %>'s products</h4>
      <% } %>

      <% if (user.products.length !== 0) { %>
      <div class="row justify-content-center w-100">
        <% user.products.forEach(function(product){ %>
        <div class="col d-flex justify-content-center mb-4 p-0">
          <%- include('product-card', {product: product}); %>
        </div>
        <% }); %>
      </div>
      <% } else { %>
      <img src="/images/empty.svg" class="img-fluid my-5" style="height: 13rem; object-fit: cover;" alt="no products">
      <h5>No Products Yet.</h5>
      <% } %>

    </div>
  </div>

  <%- include('scripts', {page: 'user-account'}); %>

</body>

</html>